<!--The start of page content-->
<div class="composer-container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="bio">Ludwig Van Beethoven</h3>
    </div>
  </div>
  <hr />


  <div class="row about-composer">

    <!-- This is an image of Beethoven -->
    <div class="col-sm-3">
      <img src="./assets/Ludwig-van-Beethoven.jpg"/>
    </div>
    <div class="col-sm-9">

      <!-- Biography of chosen composer - Beethoven -->
      <p>
        The German composer and pianist Ludwig van Beethoven is widely regarded
        as the greatest composer who ever lived. He expanded the Classical traditions
        of Joseph Haydn, one of his teachers, and Wolfgang Amadeus Mozart and
        experimented with personal expression, a characteristic that influenced the
        Romantic composers who succeeded him. His life and career were marked by
        progressive deafness, yet the malady did not prevent him from composing some
        of his most important works during the last 10 years of his life when he was
        nearly unable to hear. Widening the scope of sonata, symphony, concerto, and
        quartet, Beethoven’s notable works include Symphony No. 9 in D Minor, Op. 125,
        Symphony No. 5 in C Minor, Op. 67, Moonlight Sonata, and Für Elise.
        <em class="reference"><a href="https://www.britannica.com/list/10-classical-music-composers-to-know" target="_blank">Source</a></em>
      </p>
    </div>
  </div>
</div>

