<!--The start of page content-->
<div fxLayout='row wrap'>
  <div fxFlex>
    <div fxLayout='column'>
      <div>
        <!-- This is an image of Mark Twain -->
        <img src="./assets/sally.jpg" />
      </div>

      <div>
        <em>
          <a class="attribution-link" href="https://lifewithsally.com/about" target="_blank">Photo Source</a>
        </em>
      </div>
    </div>
  </div>

      <!-- Biography of chosen writer - Mark Twain -->
  <div fxFlex>
    <h1 class="blue">Who is Sally Clarkson?</h1>
      <p>
        Sally Clarkson is a Discipler.  Over the course of her life and marriage,
        she has continually called women to step into their God-given roles as
        lifegivers and influencers. She and Clay met through Campus Crusade for
        Christ (Cru) during college and went on staff together in 1975. Sally
        ministered to students in Texas, discipled women in Communist Eastern
        Europe, and returned in 1980 to work with executive women and singles
        in Denver where Clay was beginning seminary studies at Denver Seminary.
        They were married a year later, in Dallas where they first met. After
        graduation, they served in international ministry in Vienna, Austria,
        served on the staff of two churches, and then started Whole Heart Ministries
        in 1994. Their four children, now all grown, are serving Christ in
        different ways around the world and online, through books, music, speaking,
        and film. Sally and Clay have recently expanded their ministry to mothers
        and Christian parents in the UK.
      </p>
      <em>
        <a href="https://lifewithsally.com/about" target="_blank" class="attribution-link">Source</a>
      </em>
    </div>

