<!-- Beginning of page content -->
<div fxLayout='row wrap'>
  <div fxFlex>

    <!-- Top left card showing address -->
    <mat-card class="mat-elevation-z0">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">navigation</mat-icon>
      </mat-card-title>

      <br>

      <mat-card-content class="align-center">
        <p>505 Main Street</p>
        <p>Omaha, Nebraska</p>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Top right card showing phone numbers -->
  <div fxFlex>
    <mat-card class="mat-elevation-z0">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">phone</mat-icon>
      </mat-card-title>

      <br>

      <mat-card-content class="align-center">
        <p>Direct: 123-159-7895</p>
        <p>Toll-free: 1-800-258-9635</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- bottom information located in center of site -->
<br><br><br><br>
<div fxLayout="column">
    <p style="text-align: center">
        Visit us online or at one of our many great locations throughout the Omaha metro area.
    </p>
</div>
