<div fxLayout="column">
  <mat-card fxFlex style="margin-top: 5%; margin-left: 24%;" class="mat-elevation-z0">

    <!-- Not Found image for a 404 error -->
    <mat-card-title>
      <img src="./assets/not-found-image.png"/>
    </mat-card-title>

    <br>

    <!-- a button taking user back to the main page -->
    <mat-card-content style="text-align: center; padding-left: 30%;">
      <button mat-raised-button color="accent" routerLink="/">Return home</button>
    </mat-card-content>
  </mat-card>
</div>
