<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <!-- These are the headers of the table -->
          <th scope="col">Composer ID</th>
          <th scope="col">Full name</th>
          <th scope="col">Genre</th>
        </tr>
      </thead>
      <tbody *ngFor="let composer of composers">
        <tr>

          <!-- A table of different composers with ID link, fullName, and genre-->
          <!-- The information inside the curly braces comes from a .ts external file -->
          <td scope="row">
            <a routerLink="/composer-details/{{ composer.composerId }}">
              {{ composer.composerId }}
            </a>
          </td>
          <td>{{ composer.fullName }}</td>
          <td>{{composer.genre}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

